<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@RestTickets</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/static/css/api.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">@RestTickets</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="active" href="#">api</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
                <li>
                    <a href="#">contact</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://127.0.0.1:5000/logout">logout </a>
                </li>
                <li>
                    <a class="hello">@{{ username }}</a>
                </li>

            </ul>

        </div>

        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>

<!-- Page Content -->
<br><br><br><br><br>


<div class="container-fluid main-container">

    <div class="col-md-15 content">
        <div class="panel panel-default">

            <div id=5 class="panel-body">
                <div class="blog-post">
                    <h2 class="blog-post-title">Introduction</h2>
                    <!--<p>@RestTickets is a service that allows users to create, read, update, and delete resources using a simple REST interface, interacting
                        with resources stored on a MySQL server. REST, or Representational State Transfer, is an architectural style designed around the HTTP protocol, allowing servers to deliver
                    content in a stateless, uniform interface. This website is designed to help beginners understand how a simple REST service works. If you are totally unfamiliar with RESTful design, check out the
                        <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">wikipedia </a>page.</p>-->

                    <p>@RestTickets are simple, customizable tables that store various types of information. This
                        website was created to provide a REST API for managing these individual tickets using the HTTP
                        protocol. This website
                        also gives some tools that help both visualize and conceptualize the provided REST services.</p>

                    <hr>

                    <h2 class="blog-post-title">API</h2>


                    <p>This API will only accept requests if they are from a valid user. You can either make the
                        requests using the tools provided by the site, or you can use your own client to make the
                        requests.
                        If you make the HTTP requests from your own client, be sure to include your authorization
                        header.</p>


                    <h4>What do I put in the authorization header?</h4>

                    <p>The authorization header takes a Base64 encoded combination of your username and password (the
                        same ones you used to register). The combination is of the format "username:password", with a
                        colon in between.
                        An example authorization header looks like this:
                    <pre><code>Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==</code></pre>
                    This is necessary in order to authenticate the requests and prohibit restricted users from
                    interacting with the services.</p>
                    <h4>What about the content-type?</h4>

                    <p>This service requires that information sent from your client's request body must be in json
                        format. An example of the json header looks like this:
                    <pre><code>Content-Type: application/json</code></pre>
                    More details outlining the actual json format of the body will be described in the following
                    sections.</p>
                    <h4>How are the resources structured?</h4>

                    <p>Each User has the ability to manage both Projects and Tickets.
                        Furthermore, a User can also add other users to their own project(s), but Users can never add
                        themselves to another User's project(s). So if we were to
                        create a simple model for our application structure, it would be in a linear fashion:
                    <pre><code>Users --> Projects --> Tickets</code></pre>
                    Users contain projects, and projects contain tickets.</p>
                    <h4>What are all the URL endpoints?</h4>

                    <p>Keep reading below. All of the REST operations can be found here on this page.</p>

                    <h4>How can I get started?</h4>

                    <p>You can either start using your own client to make API requests, or you can use the tools
                        provided on this website if you
                        prefer to use a GUI.</p>

                    <hr>


                    <h2 id="@get">@get</h2>

                    <div class="method">
                        <div class="row margin-0 list-header hidden-sm hidden-xs">
                            <div class="col-md-5">
                                <div class="header"><b>URL</b></div>
                            </div>
                            <div class="col-md-5">
                                <div class="header"><b>Description</b></div>
                            </div>

                        </div>

                        <div class="row margin-0">
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <pre><code>/projects/</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <p>Get all of the projects associated with your user account (see above about
                                            auth headers).</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row margin-0">
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <pre><code>/projects/{project_id}</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <p>Get details of a single project using the project's p_id (project id).</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row margin-0">
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <pre><code>/projects/{project_id}/tickets</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <p>Get all of the tickets associated with a specific project.</p>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row margin-0">
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <pre><code>/projects/{project_id}/tickets/{ticket_id}</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <p>Get details of a single ticket associated with a specific project.</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row margin-0">
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <pre><code>/projects/{project_id}/users/</code></pre>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="propertyname">
                                        <p>Get the usernames of every user associated with a specific project.</p></div>
                                </div>
                            </div>

                        </div>

                        <hr>


                        <h2 id="@post">@post</h2>

                        <div class="method">
                            <div class="row margin-0 list-header hidden-sm hidden-xs">
                                <div class="col-md-4">
                                    <div class="header"><b>URL</b></div>
                                </div>
                                <div class="col-md-5">
                                    <div class="header"><b>Request Body</b></div>
                                </div>
                                <div class="col-md-3">
                                    <div class="header"><b>Description</b></div>
                                </div>

                            </div>

                            <div class="row margin-0">
                                <div class="col-md-4">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <pre><code>/projects/</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="cell">
                                        <div class="propertyname">
                                      <pre><code>{"project_name" : "name",
"project_description" : "description",
"project_category" : "category"}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <p>Post a single project.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row margin-0">
                                <div class="col-md-4">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <pre><code>/projects/{project_id}/tickets</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="cell">
                                        <div class="propertyname">
                                      <pre><code>{"ticket_name" : "name",
"ticket_description" : "description"}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <p>Post a single ticket for a specific project.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="row margin-0">
                                <div class="col-md-4">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <pre><code>/projects/{project_id}/users</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="cell">
                                        <div class="propertyname">
                                      <pre><code>{"username" : "user"}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="cell">
                                        <div class="propertyname">
                                            <p>Post a single user to a specific project.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <hr>


                            <h2 id="@put">@put</h2>

                            <div class="method">
                                <div class="row margin-0 list-header hidden-sm hidden-xs">
                                    <div class="col-md-4">
                                        <div class="header"><b>URL</b></div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="header"><b>Request Body</b></div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="header"><b>Description</b></div>
                                    </div>

                                </div>
                                <div class="row margin-0">
                                    <div class="col-md-4">
                                        <div class="cell">
                                            <div class="propertyname">
                                                <pre><code>/projects/{project_id}</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="cell">
                                            <div class="propertyname">
                                      <pre><code>{"project_name" : "updated name",
"project_description" : "updated description",
"project_category" : "updated category"}</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="cell">
                                            <div class="propertyname">
                                                <p>Update a single project's fields by specifying the fields you want to
                                                    update.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row margin-0">
                                    <div class="col-md-4">
                                        <div class="cell">
                                            <div class="propertyname">
                                                <pre><code>/projects/{project_id}/tickets/{ticket_id}</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="cell">
                                            <div class="propertyname">
                                      <pre><code>{"ticket_name" : "name",
"ticket_description" : "description"}</code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="cell">
                                            <div class="propertyname">
                                                <p>Update a single ticket's fields by specifying the fields you want to
                                                    update.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <hr>


                                <h2 id="@delete">@delete</h2>
                                <code>Warning: these operations are irreversible!<br></code>

                                <p></p>

                                <div class="method">
                                    <div class="row margin-0 list-header hidden-sm hidden-xs">
                                        <div class="col-md-5">
                                            <div class="header"><b>URL</b></div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="header"><b>Description</b></div>
                                        </div>

                                    </div>

                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete all of the projects associated with your user account.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/{project_id}</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete a single project using the project's p_id (project
                                                        id).</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/{project_id}/tickets</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete all of the tickets associated with a specific
                                                        project. </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/{project_id}/tickets/{ticket_id}</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete a single ticket associated with a specific project.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/{project_id}/users</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete all of the users (other than the user executing this
                                                        command) associated with a specific project.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row margin-0">
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <pre><code>/projects/{project_id}/users/{username}</code></pre>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="cell">
                                                <div class="propertyname">
                                                    <p>Delete a specific user (by username) from this specific
                                                        project.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <hr>

                                </div>
                            </div>
                        </div>


                        <!-- /.blog-post -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    </div>
        <!-- jQuery -->
        <script src="/static/js/jquery-1.11.3.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {
                $('.dropdown-toggle').dropdown()
            });
        </script>

        <script>
            $(document).ready(function () {
                $("#test0").click(function () {
                    $("#test1").removeClass("myactive");
                    $("#test2").removeClass("myactive");
                    $("#test3").removeClass("myactive");
                    $("#test4").removeClass("myactive");
                    $("#test0").addClass("myactive");
                });
                $("#test1").click(function () {
                    $("#test0").removeClass("myactive");
                    $("#test2").removeClass("myactive");
                    $("#test3").removeClass("myactive");
                    $("#test4").removeClass("myactive");
                    $("#test1").addClass("myactive");
                });
                $("#test2").click(function () {
                    $("#test0").removeClass("myactive");
                    $("#test1").removeClass("myactive");
                    $("#test3").removeClass("myactive");
                    $("#test4").removeClass("myactive");
                    $("#test2").addClass("myactive");
                });
                $("#test3").click(function () {
                    $("#test0").removeClass("myactive");
                    $("#test1").removeClass("myactive");
                    $("#test2").removeClass("myactive");
                    $("#test4").removeClass("myactive");
                    $("#test3").addClass("myactive");
                });
                $("#test3").click(function () {
                    $("#test0").removeClass("myactive");
                    $("#test1").removeClass("myactive");
                    $("#test2").removeClass("myactive");
                    $("#test4").removeClass("myactive");
                    $("#test3").addClass("myactive");
                });
            })
        </script>

</body>

</html>


