<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@RestTickets</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <link href="/static/css/api.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:5000/">@RestTickets</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="active" href="#">api</a>
                </li>
                <li>
                    <a href="#">about</a>
                </li>
                <li>
                    <a href="#">contact</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="http://127.0.0.1:5000/logout">logout </a>
                </li>
                <li>
                    <a class="hello">@{{ username }}</a>
                </li>

            </ul>

        </div>

        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
</nav>

<!-- Page Content -->
<br><br><br><br><br>



<div class="container-fluid main-container">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li id="test0" class="myactive"><a class="yo">api</a></li>
            <li id="test1"><a href="#@get"class="yo">@get</a></li>
            </li>
            <li id="test2"><a class="yo">@post</a></li>
            <li id="test3"><a class="yo">@put</a></li>
            <li id="test4"><a class="yo">@delete</a></li>
        </ul>
    </div>
    <div class="col-md-10 content">
        <div class="panel panel-default">

            <div id=5 class="panel-body">
                <div class="blog-post">
                    <h2 class="blog-post-title">Introduction</h2>
                    <!--<p>@RestTickets is a service that allows users to create, read, update, and delete resources using a simple REST interface, interacting
                        with resources stored on a MySQL server. REST, or Representational State Transfer, is an architectural style designed around the HTTP protocol, allowing servers to deliver
                    content in a stateless, uniform interface. This website is designed to help beginners understand how a simple REST service works. If you are totally unfamiliar with RESTful design, check out the
                        <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">wikipedia </a>page.</p>-->

                    <p>@RestTickets are simple, customizable tables that store various types of information. This website was created to provide a REST API for managing these individual tickets using the HTTP protocol. This website
                        also gives some tools that help both visualize and conceptualize the provided REST services.</p>

                    <hr>

                    <h2 class="blog-post-title">API</h2>


                    <p>This API will only accept requests if they are from a valid user. You can either make the requests using the tools provided by the site, or you can use your own client to make the requests.
                        If you make the HTTP requests from your own client, be sure to include your authorization header.</p>



                        <h4>What do I put in the authorization header?</h4>

                        <p>The authorization header takes a Base64 encoded combination of your username and password (the same ones you used to register). The combination is of the format "username:password", with a colon in between.
                        An example authorization header looks like this: <pre><code>Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==</code></pre>
                       This is necessary in order to authenticate the requests and prohibit restricted users from interacting with the services.
                       <h4>What about the content-type?</h4>
                    <p>This service requires that information sent from your client's request body must be in json format. An example of the json header looks like this:
                     <pre><code>Content-Type: application/json</code></pre>More details outlining the actual json format of the body will be described in the following sections.</p>

                    <hr>

                    <h2 id = "@get">@get</h2>
                    <div class="method">
                        <div class="row margin-0 list-header hidden-sm hidden-xs">
                            <div class="col-md-3">
                                <div class="header">Property</div>
                            </div>
                            <div class="col-md-2">
                                <div class="header">Type</div>
                            </div>
                            <div class="col-md-2">
                                <div class="header">Required</div>
                            </div>
                            <div class="col-md-5">
                                <div class="header">Description</div>
                            </div>
                        </div>

                        <div class="row margin-0">
                            <div class="col-md-3">
                                <div class="cell">
                                    <div class="propertyname">
                                        CurrencyCode <span class="mobile-isrequired">[Required]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="type">
                                        <code>String</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="isrequired">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="description">
                                        The standard ISO 4217 3-letter currency code
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-0">
                            <div class="col-md-3">
                                <div class="cell">
                                    <div class="propertyname">
                                        PriceType <span class="mobile-isrequired">[Required]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="type">
                                        <code>Int32</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="isrequired">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="description">
                                        The type of price
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-0">
                            <div class="col-md-3">
                                <div class="cell">
                                    <div class="propertyname">
                                        WarehouseID <span class="mobile-isrequired">[Required]</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="type">
                                        <code>Int32</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="isrequired">
                                        Yes
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="description">
                                        The unique identifier for the warehouse
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-0">
                            <div class="col-md-3">
                                <div class="cell">
                                    <div class="propertyname">
                                        ItemCodes
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="type">
                                        <code>String[]</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="isrequired">
                                        <span class="text-muted">No</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="description">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-0">
                            <div class="col-md-3">
                                <div class="cell">
                                    <div class="propertyname">
                                        LanguageID
                                        <a class="lookuplink" href="javascript:;">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="type">
                                        <code>Int32?</code>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="cell">
                                    <div class="isrequired">
                                        <span class="text-muted">No</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="cell">
                                    <div class="description">
                                        The customer's preferred language ID (ex. 0 (English), 1 (Spanish), etc.)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    </div>
                <!-- /.blog-post -->
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/static/js/jquery-1.11.3.js"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown()
    });
</script>

<script>
    $(document).ready(function () {
        $("#test0").click(function () {
            $("#test1").removeClass("myactive");
            $("#test2").removeClass("myactive");
            $("#test3").removeClass("myactive");
            $("#test0").addClass("myactive");
        });
        $("#test1").click(function () {
            $("#test0").removeClass("myactive");
            $("#test2").removeClass("myactive");
            $("#test3").removeClass("myactive");
            $("#test1").addClass("myactive");
        });
        $("#test2").click(function () {
            $("#test0").removeClass("myactive");
            $("#test1").removeClass("myactive");
            $("#test3").removeClass("myactive");
            $("#test2").addClass("myactive");
        });
        $("#test3").click(function () {
            $("#test0").removeClass("myactive");
            $("#test1").removeClass("myactive");
            $("#test2").removeClass("myactive");
            $("#test3").addClass("myactive");
        });
    })
</script>
</body>

</html>


